* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

body h1 {
  font-size: 2.2em;
  padding: 0;
  margin: 15px 0;
}

body h2 {
  font-size: 2.0em;
  padding: 0;
  margin: 15px 0;
}

body h3 {
  font-size: 1.8em;
  padding: 0;
  margin: 15px 0;
}

body h4 {
  font-size: 1.6em;
  padding: 0;
  margin: 15px 0;
}

body h5 {
  font-size: 1.4em;
  padding: 0;
  margin: 15px 0;
}

body h6 {
  font-size: 1.2em;
  padding: 0;
  margin: 15px 0;
}

/*************************** START nav ***************************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.9);
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
  color: white;
  height: 64px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .my-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar .menu {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .menu li:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navbar .menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  text-align: center;
}

i {
  width: 100% !important;
}

/*************************** END nav ***************************/
/*************************** START menu ***************************/
.container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 15px;
  display: none;
}

.btn-menu, .pointer {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*************************** END menu ***************************/
a {
  text-decoration: none;
  color: #3b679e;
}

a:hover {
  color: #2A82CB;
  font-size: 1.02em;
}

/*************************** START typewritter ***************************/
.line-1 {
  width: 11em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /* Animation */
}

.line-1.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.typewritter {
  width: 450px;
}

/*************************** END typewritter ***************************/
.background-colorfull {
  background: #384B5D;
  opacity: .9;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.hero .hero-background {
  background-image: url("../assets/others/code.jpg");
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero .hero-container {
  margin-top: 64px;
  z-index: 2;
  color: white;
}

.hero .hero-container p:first-child {
  margin: 0 auto;
}

.hero .front {
  color: yellow;
}

.hero .back {
  color: #ff007f;
}

.my-name {
  margin-left: 10px;
}

.feet {
  margin: 0 10px 50px 10px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 10px 25px;
  margin: 5px;
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
}

.btn:hover {
  color: #003560;
  font-size: 1.02em;
}

.btn.btn-primary {
  background: #3b679e;
  border-bottom: 3px solid #164266;
}

.title {
  color: #3b679e;
  margin: 80px 0;
}

.container {
  padding: 40px 10%;
}

.skills, .experience, .portafolio, .contact {
  width: 100%;
}

/*************************** START Skills ***************************/
.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 180px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 180px));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-auto-rows: minmax(190px, 210px);
  grid-gap: 15px;
  padding: 15px;
  margin-bottom: 80px;
}

.skill {
  overflow: hidden;
  position: relative;
  max-width: 180px;
  height: 210px;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
}

.resume-overlay {
  position: absolute;
  border-radius: 4px;
  background: rgba(1, 1, 1, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  overflow: hidden;
}

.skill:hover .resume-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .list .skill .img-skill {
  width: 80%;
  margin: 0 auto;
  height: 160px;
  overflow: hidden;
}

.skills .list .skill .img-skill img {
  width: 100%;
}

.skill-text {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: bold;
  font-size: 1.1em;
}

/*************************** END Skills ***************************/
/*************************** START Portafolio ***************************/
.portafolio .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 700px))[2];
      grid-template-columns: repeat(2, minmax(500px, 700px));
  grid-auto-rows: 500px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portafolio .content .content-portafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  border: 1px solid gray;
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
  margin: 10px;
}

.portafolio .content .content-portafolio .title-siteweb {
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.portafolio .content .content-portafolio .image-siteweb {
  width: 100%;
  height: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portafolio .content .content-portafolio .image-siteweb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portafolio .content .content-portafolio .info-siteweb {
  width: 100%;
  height: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.portafolio .content .content-portafolio .info-siteweb .badge {
  border: 1px solid #164266;
  border-radius: 5px;
  color: #164266;
  font-size: .75em;
  padding: 5px;
  margin: 5px;
}

/*************************** END Portafolio ***************************/
/*************************** START Experience ***************************/
.experience .content .card-experience {
  margin-bottom: 50px;
  padding: 10px;
}

.experience .content .card-experience .year {
  font-size: .7em;
  margin: 0;
  color: gray;
}

.experience .content .card-experience h6 {
  color: #2A82CB;
  margin: 0 auto;
}

.experience .content .card-experience p {
  margin-top: 20px;
  color: #3b679e;
}

/*************************** END Experience ***************************/
/*************************** START Contact ***************************/
.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.contact .content .about {
  width: 40%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact .content .about img {
  border: 1px solid gray;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
}

.contact .content .about .name {
  margin: 5px auto;
  font-size: 1.15em;
}

.contact .content .about .career {
  margin-top: 0;
  color: #3b679e;
}

.contact .content .about .bio {
  margin-top: 0;
  font-size: .9em;
  color: gray;
  text-align: center;
}

.contact .content .contacts {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact .content .contacts .fa, .contact .content .contacts .fab, .contact .content .contacts .fal, .contact .content .contacts .far, .contact .content .contacts .fas {
  overflow-y: hidden;
}

.contact .content .contacts h4 {
  width: 100%;
  text-align: center;
}

.contact .content .contacts h4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .content .contacts h4 a i {
  width: auto !important;
}

.contact .content .contacts h4 a .far {
  line-height: 1.6 !important;
}

.contact .content .contacts .networks {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .content .contacts .networks .item {
  border: 1px solid rgba(181, 181, 181, 0.5);
  border-radius: 50px;
  -webkit-box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
          box-shadow: 0 3px 10px 0px rgba(1, 1, 1, 0.4);
  font-size: 1.2em;
  width: 55px;
  height: 55px;
  margin: auto 5px;
  position: relative;
}

.contact .content .contacts .networks .item.telegram a, .contact .content .contacts .networks .item.linkedin a, .contact .content .contacts .networks .item.twitter a, .contact .content .contacts .networks .item.instagram a, .contact .content .contacts .networks .item.github a {
  color: black;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact .content .contacts .networks .item.telegram:hover {
  background: #0088cc;
  border: none;
}

.contact .content .contacts .networks .item.telegram:hover a {
  color: white;
  font-size: 1em;
}

.contact .content .contacts .networks .item.linkedin:hover {
  background: #0077b5;
  border: none;
}

.contact .content .contacts .networks .item.linkedin:hover a {
  color: white;
  font-size: 1em;
}

.contact .content .contacts .networks .item.twitter:hover {
  background: #1da1f2;
  border: none;
}

.contact .content .contacts .networks .item.twitter:hover a {
  color: white;
  font-size: 1em;
}

.contact .content .contacts .networks .item.instagram:hover {
  background: #fcaf45;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #fcaf45 0%, #f77737 12%, #f56040 25%, #fd1d1d 38%, #e1306c 51%, #c13584 63%, #833ab4 76%, #5851db 88%, #405de6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaf45', endColorstr='#405de6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border: none;
}

.contact .content .contacts .networks .item.instagram:hover a {
  color: white;
  font-size: 1em;
}

.contact .content .contacts .networks .item.github:hover {
  background: #000000;
  border: none;
}

.contact .content .contacts .networks .item.github:hover a {
  color: white;
  font-size: 1em;
}

.contact .content .contacts .text {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: .8em;
}

.contact .content .contacts .text .heart {
  color: red;
  margin: 0 10px;
}

/*************************** END Contact ***************************/
/*# sourceMappingURL=index.css.map */