* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

body h1 {
  font-size: 2.2em;
  padding: 0;
  margin: 15px 0;
}

body h2 {
  font-size: 2.0em;
  padding: 0;
  margin: 15px 0;
}

body h3 {
  font-size: 1.8em;
  padding: 0;
  margin: 15px 0;
}

body h4 {
  font-size: 1.6em;
  padding: 0;
  margin: 15px 0;
}

body h5 {
  font-size: 1.4em;
  padding: 0;
  margin: 15px 0;
}

body h6 {
  font-size: 1.2em;
  padding: 0;
  margin: 15px 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.9);
  color: white;
  height: 64px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #2A82CB;
  font-size: 1.02em;
}

.navbar .menu {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .menu li:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navbar .menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  text-align: center;
}

/*************************** START typewritter ***************************/
.line-1 {
  width: 5.75em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  -webkit-animation: typewriter 1.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
          animation: typewriter 1.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5.75em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 5.75em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*************************** END typewritter ***************************/
.hero {
  background: #3b679e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3b679e), color-stop(57%, #2b88d9), color-stop(100%, #207cca), to(#7db9e8));
  background: linear-gradient(to right, #3b679e 0%, #2b88d9 57%, #207cca 100%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
  /* IE6-9 */
  height: 600px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.my-name {
  width: 7em;
  font-size: 1.3em;
  -webkit-box-flex: auto;
      -ms-flex-positive: auto;
          flex-grow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-name p {
  margin: auto auto;
}

.feet {
  margin: 0 10px 50px 10px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 10px 25px;
  margin: 5px;
}

.btn:hover {
  color: #003560;
  font-size: 1.02em;
}

.btn.btn-primary {
  background: #3b679e;
  border-bottom: 3px solid #164266;
}

.title {
  color: #3b679e;
}

.container {
  padding: 40px 70px;
}

.skills, .experience, .portafolio, .contact {
  width: 100%;
}

/*************************** START Skills ***************************/
.skills .list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 180px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
  grid-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .list .skill {
  width: 180px;
  height: 210px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(91, 91, 91, 0.5);
          box-shadow: 1px 1px 1px 1px rgba(91, 91, 91, 0.5);
}

.skills .list .skill .img-skill {
  width: 80%;
  margin: 0 auto;
  height: 160px;
}

.skills .list .skill .img-skill img {
  width: 100%;
}

.skill-text {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: bold;
  font-size: 1.1em;
}

/*************************** END Skills ***************************/
/*************************** START menu ***************************/
.container-menu {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 15px;
  display: none !important;
}

.btn-menu {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*************************** END menu ***************************/
/*# sourceMappingURL=index.css.map */