$color-primary: #3b679e;
$color-secondary: #164266;
$color-third: #2A82CB;

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    width: 100%;
}

body {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5; // interlineado
    font-family: 'Lato', sans-serif;

    h1 {
        font-size: 2.2em;
        padding: 0;
        margin: 15px 0;
    }
    
    h2 {
        font-size: 2.0em;
        padding: 0;
        margin: 15px 0;
    }

    h3 {
        font-size: 1.8em;
        padding: 0;
        margin: 15px 0;
    }

    h4 {
        font-size: 1.6em;
        padding: 0;
        margin: 15px 0;
    }

    h5 {
        font-size: 1.4em;
        padding: 0;
        margin: 15px 0;
    }

    h6 {
        font-size: 1.2em;
        padding: 0;
        margin: 15px 0;
    }
} 

/*************************** START nav ***************************/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(1, 1, 1, 0.9);
    color: white;
    height: 64px;
    flex-wrap: nowrap;
    z-index: 2;
    display: flex;

    .my-name {
        flex-grow: 1;
        font-size: 1.3em;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .menu {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li:first-child {
            flex: 2;
        }

        li {
            flex: 1;
            list-style: none;
            text-align: center;
        }
    }
}

i {
    width: 100% !important;
}

/*************************** END nav ***************************/

/*************************** START menu ***************************/

.container-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    display: none;
}

.btn-menu, .pointer {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*************************** END menu ***************************/

a {
    text-decoration: none;
    color: $color-primary;
}

a:hover {
    color: $color-third;
    font-size: 1.02em;
}

/*************************** START typewritter ***************************/
$width: 11em;

.line-1{
    width: $width;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;

    /* Animation */
    &.anim-typewriter {
        animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    }
}

@keyframes typewriter{
  from{width: 0;}
  to{width: $width;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*************************** END typewritter ***************************/
.background-colorfull {
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(left, #3b679e 0%, #2b88d9 57%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3b679e 0%,#2b88d9 57%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3b679e 0%,#2b88d9 57%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    color: white;
}

.hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    .hero-container {
        margin-top: 64px;

        p:first-child {
            margin: 0 auto;
        }
    }

    .front {
        color: yellow;
    }

    .back {
        color: #ff007f;
    }
}

.my-name {
    margin-left: 10px;
}

.feet {
    margin: 0 10px 50px 10px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: auto;
    padding: 10px 25px;
    margin: 5px;
}

.btn:hover {
    color: #003560;
    font-size: 1.02em;
}

.btn.btn-primary {
    background: #3b679e;
    border-bottom: 3px solid $color-secondary;
}

.title {
    color: $color-primary;
    margin: 80px 0;
}

.container {
    padding: 40px 70px;
}

.skills, .experience, .portafolio, .contact {
    width: 100%;
}

/*************************** START Skills ***************************/

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 180px));
    justify-content: center;
    grid-auto-rows: minmax(190px, 210px);
    grid-gap: 20px;
    margin-bottom: 80px;
}

.skill {
    overflow: hidden;
    position: relative;
    width: 180px;
    height: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(91, 91, 91, .5);
}

.resume-overlay {
    position: absolute;
    border-radius: 4px;
    background: rgba(1, 1, 1, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    overflow: hidden;
}

.skill:hover .resume-overlay {
    display: flex;
}

.skills .list .skill .img-skill {
    width: 80%;
    margin: 0 auto;
    height: 160px;
    overflow: hidden;
}
.skills .list .skill .img-skill img {
    width: 100%;
}

.skill-text {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-style: bold;
    font-size: 1.1em;
}


/*************************** END Skills ***************************/

/*************************** START Portafolio ***************************/

.portafolio {

    .content {
        display: grid;
        grid-template-columns: repeat(2, minmax(500px, 700px));
        grid-auto-rows: 500px;
        grid-gap: 30px;
        justify-content: center;

        .content-portafolio {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            border: 1px solid gray;

            .title-siteweb {
                width: 100%;
                height: 13%;
                display: flex;
                padding: 10px;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
            }

            .image-siteweb {
                width: 100%;
                height: 74%;
                display: flex;
                justify-content: center;
                align-content: center;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .info-siteweb {
                width: 100%;
                height: 13%;
                display: flex;
                padding: 10px;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;

                .badge {
                    border: 1px solid grey;
                    border-radius: 5px;
                    color: grey;
                    font-size: .75em;
                    padding: 5px;
                    margin: 5px;
                }
            }
        }
    }
}

/*************************** END Portafolio ***************************/

/*************************** START Experience ***************************/

.experience {

    .content {

        .card-experience {
            margin-bottom: 50px;
            padding: 10px;

            .year {
                font-size: .7em;
                margin: 0;
                color: gray;
            }

            h6 {
                color: $color-third;
                margin: 0 auto;
            }

            p {
                margin-top: 20px;
                color: $color-primary;
            }
        }

    }

}

/*************************** END Experience ***************************/

/*************************** START Contact ***************************/

.contact {

    .content {
        display: flex;
        margin-bottom: 50px;

        .about {
            // border: 1px solid blue;
            width: 40%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;            

            img {
                border: 1px solid gray;
                width: 50%;
                border-radius: 50%;
                margin-bottom: 20px;
            }

            .name {
                margin: 5px auto;
                font-size: 1.15em;
            }

            .career {
                margin-top: 0;
                color: $color-primary;
            }

            .bio {
                margin-top: 0;
                font-size: .9em;
                color: gray;
                text-align: center;
            }
        }

        .contacts {
            // border: 1px solid blue;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h4 {
                a {
                    display: flex;
                    align-items: center;
                }
            }

            .networks {
                margin-top: 50px;
                display: flex;
                padding: auto 20px !important;
                align-items: space-between !important;
            
                .item {
                    border: 1px solid gray;
                    border-radius: 50px;
                    font-size: 1.2em;
                    width: 55px;
                    height: 55px;
                    margin: auto 50px;
                    position: relative;

                    &.telegram a, &.linkedin a, &.twitter a, &.github a {
                        color: black;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    &.telegram:hover {
                        background: #0088cc;
                        border: none;
                        a {
                            color: white;
                            font-size: 1em;
                        }
                    }

                    &.linkedin:hover {
                        background: #0077b5;
                        border: none;
                        a {
                            color: white;
                            font-size: 1em;
                        }
                    }

                    &.twitter:hover {
                        background: #1da1f2;
                        border: none;
                        a {
                            color: white;
                            font-size: 1em;
                        }
                    }

                    &.github:hover {
                        background: #000000;
                        border: none;
                        a {
                            color: white;
                            font-size: 1em;
                        }
                    }
                }
            }

            .text {
                margin-top: 70px;
                display: flex;
                text-align: center;
                font-size: .8em;

                .heart {
                    color: red;
                    margin: 0 10px;
                }
            }
        }
    }
}

/*************************** END Contact ***************************/