@media only screen and ( max-width: 800px ) {
    body {
        font-size: 1rem;
    }

    .navbar .menu li:first-child {
        flex: 1;
    }
    
}

@media only screen and ( max-width: 700px ) {

    .container-menu {
        display: flex !important;
        flex-grow: 0;
    }

    .container {
        padding: 40px 10px;
    }

    .menu {
        background: rgba(1, 1, 1, 0.9);
        color: white;
        position: fixed;
        right: -100% !important;
        left: 100%;
        top: 64px;
        bottom: 0;
        flex-grow: 1;
        display: flex !important;
        width: 100% !important;
        margin: 0 !important;
        height: 100%;
        flex-direction: column;
        transition: .4s !important;
        overflow: hidden;
    }

    .active {
        left: 0;
        right: 0 !important;
    }

    .menu li {
        font-size: 1.4em;
    }

}
