@media only screen and ( max-width: 800px ) {
    body {
        font-size: 1rem;
    }

    .navbar .menu li:first-child {
        flex: 1;
    }
    
}

@media only screen and ( max-width: 700px ) {

    .container-menu {
        display: flex !important;
        flex-grow: 0;
    }

    .container {
        padding: 40px 10px;
    }

    .menu {
        background: rgba(1, 1, 1, 0.9);
        color: white;
        position: fixed;
        right: -100% !important;
        left: 100%;
        top: 64px;
        bottom: 0;
        flex-grow: 1;
        display: flex !important;
        width: 100% !important;
        margin: 0 !important;
        height: 100%;
        flex-direction: column;
        transition: .4s !important;
        overflow: hidden;
    }

    .active {
        left: 0;
        right: 0 !important;
    }

    .menu li {
        font-size: 1.4em;
    }

}

@media only screen and ( max-width: 1290px ) {

    .portafolio {

        .content {
            grid-template-columns: repeat(2, minmax(400px, 500px));
            grid-template-rows: repeat(2, 400px);
        }
    }

    .contact {

        .content {
    
            .about {
    
                img {
                    width: 70%;
                }
            }
        }
    }

}


@media only screen and ( max-width: 1000px ) {

    .experience {

        .content {
    
            .card-experience {
                margin: 0 auto 50px auto;
            }
    
        }
    
    }

    .contact {

        .content {
            flex-direction: column;
            
            .about {
                width: 100%;
                img {
                    width: 30%;
                }
            }

            .contacts {
                width: 100%;
            }
        }
    }

    .contact .title {
        margin: 80px 0 20px 0;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .portafolio {

        .content {
            grid-template-columns: minmax(500px, 600px);
            justify-content: center;
            grid-template-rows: repeat(4, 400px);
        }
    }
}

@media only screen and (min-width: 100px) and (max-width: 599px) {

    .contact {

        .content {
            
            .about {
                img {
                    width: 50%;
                }
            }

            .contacts {
                a {
                    font-size: .85em;
                }

                .networks {
                
                    .item {
                        margin: auto 15px;
                    }
                }
            }
        }
    }

    .portafolio {

        .content {
            grid-template-columns: 1fr;
            justify-content: center;
            grid-template-rows: repeat(4, 400px);
        }
    }
}
